<div class="md:pl-4">

  <sidebar-item>
  </sidebar-item>

  <sidebar-item title="Patient Feedback" routerLink="/admin/status">
    <img ngSrc="assets/icons/patient.ico" height="25" width="25" alt="Patients Feedback" title="Patients Feedback"/>
  </sidebar-item>

  <sidebar-item title="Supported Insurance" routerLink="/admin/archives">
  </sidebar-item>

  <sidebar-item title="Drug Suppliers" routerLink="/admin/credits">
  </sidebar-item>

  <sidebar-item title="Avaible Doctors" routerLink="/admin/settings">
  </sidebar-item>

  <sidebar-item title="Documentation" routerLink="/admin/documentation">
  </sidebar-item>

</div>
