<div class="md:pl-4">
<!--
  <sidebar-item title="Supported Insurance" routerLink="/admin/archives">
    <img ngSrc="assets/images/Insurance.png" height="50" width="50" alt="Supported Insurance" title="Supported Insurance"/>
  </sidebar-item>

  <sidebar-item title="Supported Insurance" routerLink="/admin/archives">
    <img ngSrc="assets/images/" height="50" width="50" alt="Supported Insurance" title="Supported Insurance"/>
  </sidebar-item>

  <sidebar-item title="Supported Insurance" routerLink="/admin/archives">
    <img ngSrc="assets/images/Pharmacies.png" height="50" width="50" alt="Available Drugs" title="Available Drugs"/>
  </sidebar-item>
--->
  <sidebar-item title="Drug Suppliers" routerLink="/admin/credits">
    <img ngSrc="assets/images/Drugs.png" height="50" width="50" alt="Drug Suppliers" title="Drug Suppliers"/>
  </sidebar-item>

  <sidebar-item title="Avaible Doctors" routerLink="/menu_doctors">
    <img ngSrc="assets/images/Doctors.png" height="50" width="50" alt="Avaible Doctors" title="Avaible Doctors"/>
  </sidebar-item>

  <sidebar-item title="Documentation" routerLink="/admin/documentation">
    <img ngSrc="assets/images/Documentation.png" height="50" width="50" alt="Documentation" title="Documentation"/>
  </sidebar-item>

</div>
