  <div class="min-h-screen bg-gray-100 bg-transparent">
    <h1 class="text-4xl font-bold text-center text-white mb-8">Welcome to update patient data area !</h1>
<br>
     <h1 class="text-base font-bold text-start text-white mb-8">
      Welcome to update your info. See current data on the left, make changes on the right. Note all changes carefully. Your new data helps us give you the best care. Please be accurate. Click "Update Patient Data" when done. Contact us at [Insert Phone Number] or [Insert Email Address] if you need help. Thank you.
     </h1>

  <table class="min-w-full table-auto bg-transparent text-white border-collapse ">
  <thead>
  <tr class="bg-transparent font-semibold text-left border-b border-white ">
    <th class="px-4 py-2">Value Name</th>
    <th class="px-4 py-2">Actual Data</th>
    <th class="px-4 py-2">New Data</th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Patient Name:</th>
    <td class="px-4 py-2">{{ foundPatient.patientName }}</td>
    <td class="px-4 py-2">
      <input
        type="text"
        [value]="foundPatient.patientName"
        class="form-input w-full bg-transparent text-white rounded-md placeholder-white"
        placeholder="Change your name but strongly recommended to keep the same name"
        disabled
      />
    </td>
  </tr>
  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Gender:</th>
    <td class="px-4 py-2">{{ foundPatient.gender ? 'Male' : 'Female' }}</td>
    <td class="px-4 py-2">
      <div class="flex gap-4 items-center">
        <label class="flex items-center gap-2">
          <input type="radio" name="gender" value="female" [(ngModel)]="foundPatient.gender">
          <span>Female</span>
        </label>
        <label class="flex items-center gap-2">
          <input type="radio" name="gender" value="male" [(ngModel)]="updatePatient.gender">
          <span>Male</span>
        </label>
      </div>
    </td>
  </tr>
  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Age:</th>
    <td class="px-4 py-2">{{ foundPatient.age }}</td>
    <td class="px-4 py-2">
      <input type="number" [(ngModel)]="updatePatient.age" class="form-input w-full bg-transparent v rounded-md">
    </td>
  </tr>
  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Address:</th>
    <td class="px-4 py-2"> {{ foundPatient.address }}</td>
    <td class="px-4 py-2">
      <input
        type="text"
        [(ngModel)]="updatePatient.address"
        class="form-input w-full bg-transparent text-white rounded-md placeholder-white"
        placeholder="Please put your new address here"
      />
  </tr>

  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Phone Number:</th>
    <td class="px-4 py-2">{{ foundPatient.phoneNumber }}</td>
    <td class="px-4 py-2">
      <input
        type="text"
        [(ngModel)]="updatePatient.phoneNumber"
        class="form-input w-full bg-transparent text-white rounded-md placeholder-white"
        placeholder="Change your phone number in here 8 digit number"
      />
    </td>
  </tr>



  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Password:</th>
    <td class="px-4 py-2 text-white">********</td>
    <td class="px-4 py-2">
      <input
        type="password"
        [(ngModel)]="updatePatient.password"
        class="form-input w-full bg-transparent text-white rounded-md placeholder-white"
        placeholder="Use pattern, special character, Upcase and lowercase Min length 6"
      />
    </td>
  </tr>

   <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">Medical State:</th>
    <td class="px-4 py-2">{{ foundPatient.medical_state }}</td>
    <td class="px-4 py-2">
      <select [(ngModel)]="updatePatient.medical_state" class="form-select w-full bg-transparent text-yellow rounded-md">
        <option value="" disabled selected>Select State</option>
        <option value="stable">stable</option>
        <option value="recovering">recovering</option>
        <option value="critical">critical</option>
      </select>
    </td>
  </tr>
  <tr class="bg-transparent border-b border-white" *ngIf="foundPatient">
    <th class="px-4 py-2 text-left font-semibold">About Me:</th>
    <td class="px-4 py-2">
      <textarea [(ngModel)]="foundPatient.about_me"
                class="w-96 h-24 p-2 bg-red-200 text-gray-800 rounded-md"></textarea>

    </td>
    <td class="px-4 py-2">
    <textarea [(ngModel)]="updatePatient.about_me"
              class="w-96 h-24 p-2 bg-green-200 text-gray-800 rounded-md"></textarea>
    </td>
  </tr>

  <tr class="bg-transparent">
    <td class="px-4 py-4" colspan="3">
      <div class="flex justify-center gap-4">
        <button (click)="goHome()" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          Home
        </button>
        <button (click)="onSubmit()" [disabled]="!foundPatient"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Submit
        </button>
      </div>
    </td>
  </tr>

  <tr *ngIf="!foundPatient">
    <td colspan="3" class="px-4 py-2 text-white text-center">Loading patient data...</td>
  </tr>
  </tbody>
  </table>
</div>
