
    <div class="w-4/5 mx-auto">
      <nav class="bg-gray-800 text-white p-4 relative">
        <div class="container mx-auto flex items-center justify-between">

          <ul class="flex space-x-8">

            <li>
              <a routerLink="/doctorarea" routerLinkActive="text-white" class="hover-bubble">
                <i class="fas fa-user fa-lg mr-2"></i> <span class="text-lg">Your Space</span>
              </a>
            </li>

            <li>
              <a routerLink="/personaldatadoctor" routerLinkActive="text-white" class="hover-bubble">
                <i class="fas fa-hospital-user fa-lg mr-2"></i> <span class="text-lg">Personal Data</span>
              </a>
            </li>

            <li>
              <a routerLink="/update_doctors_patient" routerLinkActive="text-white" class="hover-bubble">
                <i class="fas fa-home fa-lg mr-2"></i> <span class="text-lg"> Check Patients ?</span>
              </a>
            </li>

            <li>
              <a routerLink="/doctorrdv" routerLinkActive="text-white" class="hover-bubble">
                <i class="fas fa-home fa-lg mr-2"></i> <span class="text-lg"> RDV </span>
              </a>
            </li>

            <li>
              <a routerLink="/historydoctor" routerLinkActive="text-white" class="hover-bubble">
                <i class="fas fa-home fa-lg mr-2"></i> <span class="text-lg"> History </span>
              </a>
            </li>

          </ul>

          <a href="/doctor" class="absolute top-2 right-4">
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              <i class="fas fa-sign-out-alt fa-lg mr-2"></i> Logout
            </button>
          </a>
        </div>
      </nav>
    </div>

    <br>

    <div class="mt-8 bg-transparent text-white">
      <div class="container mx-auto p-4 flex items-center justify-center">
        <p class="text-4xl font-bold mb-2">Welcome, Member of Family {{ doctorname }}!&ensp;</p>
      </div>
    </div>

    <div class="flex justify-around mt-4">

      <div class="p-4 bg-transparent bg-opacity-75 backdrop-blur-md rounded-lg shadow-md text-gray-50 flex flex-col items-center">
        <img src="assets/icons/clock-icon.png" alt="Login" style="width: 100px; height: 100px;" class="mb-2">
        <span class="font-semibold text-white">Current Time</span>
        <span class="font-semibold text-white">{{ currentTime }}</span>
      </div>


      <div class="p-4 border-x-green-600 bg-opacity-75 backdrop-blur-md rounded-lg shadow-md text-gray-50 flex flex-col items-center">
        <a [routerLink]="doctorData ?.id ? ['/update-insurance-doctor', doctorData ?.id ] : ['/update-insurance-family']"> <img src="assets/icons/Insurance.png" alt="Login" style="width: 100px; height: 100px;" class="mb-2">
        </a>
        <span class="font-semibold">Insurance</span>
        <span class="font-semibold text-white">{{ doctorData?.insurance }}</span>
      </div>

    </div>



